@charset "UTF8";
body{
    margin:0;
    padding:0;
    border:0;
}
main{
    background-color: #EBEBEB;
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}
.ecomp{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.ecompimg{
    width: 50%;
    height: auto;
    display: flex;
}
.ecompimg img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.ecomptext{
    color: #2b2b2b;
    width: 50%;
    height: auto;
    font-size: 30px;
    display: flex;
    flex-direction: column;  
    align-items: center;
}
.ecomptext button{
    background-color: #2b2b2b;
    border-radius: 25px;
    color: azure;
    cursor: pointer;
    border: none;
    width: auto;
    margin: auto;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}
.ecomptext button:hover{
    color: black;
    background-color: #F27244;
}
.automacao{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.automacaoimg{
    width: 50%;
    height: auto;
    display: flex;
}
.automacaoimg img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.automacaotext{
    color: #2b2b2b;
    width: 50%;
    height: auto;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    font-size: 30px;
}
.automacaotext button{
    background-color: #2b2b2b;
    border-radius: 25px;
    color: azure;
    cursor: pointer;
    border: none;
    width: auto;
    margin: auto;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.automacaotext button:hover{
    color: black;
    background-color: #F27244;
}
@media (max-width: 932px){
    body{
        margin:0;
        padding:0;
        border:0;
    }
    main{
        margin-top: 7em;
        width: 90%;
    }
    .ecomp, .automacao {
        flex-direction: column;
    }
    .ecomptext, .automacaotext{
        width: 100%;
        display: flex;
    }
    .ecompimg, .automacaoimg{
        width: 100%;
        height: auto;
    }
}