@charset "UTF8";

body{
    margin:0;
    padding:0;
    border:0;
}
main{
    background-color: #EBEBEB;
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    margin-top: 7.5em;
}
.ecomp, .sonorizacao, .seguranca{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.automacao, .rede, .informatica{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.ecompimg, .automacaoimg, .sonorizacaoimg, .redeimg, .segurancaimg, .informaticaimg{
    width: 50%;
    height: auto;
    display: flex;
}
.ecompimg img, .automacaoimg img, .sonorizacaoimg img, .redeimg img, .segurancaimg img, .informaticaimg img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.ecomptext, .automacaotext, .sonorizacaotext, .redetext, .segurancatext, .informaticatext{
    color: #2b2b2b;
    width: 50%;
    height: auto;
    font-size: 24px;
    display: flex;
    flex-direction: column;  
    align-items: center;
    text-align: center;
}
.ecomptext button, .automacaotext button, .sonorizacaotext button, .redetext button, .segurancatext button, .informaticatext button{
    background-color: #2b2b2b;
    border-radius: 25px;
    color: azure;
    cursor: pointer;
    border: none;
    width: auto;
    margin: auto;
    text-decoration: none;
}
.ecomptext button:hover, .automacaotext button:hover, .sonorizacaotext button:hover, .redetext button:hover, .segurancatext button:hover, .informaticatext button:hover{
    color: black;
    background-color: #F27244;
}
.galeriavideos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding-bottom: 50px;
}
.galeriavideos video{
    max-width: 95%;
    border-radius: 20px;
}
.galeriavideos video:hover{
    transform: scale(1.1);
}
@media (max-width: 932px){
    body{
        margin:0;
        padding:0;
        border:0;
    }
    main{
        margin-top: 7.5em;
        width: 98%;
    }
    .ecomp, .automacao, .sonorizacao, .rede, .seguranca, .informatica {
        flex-direction: column;
    }
    .ecomptext, .automacaotext, .sonorizacaotext, .redetext, .segurancatext, .informaticatext{
        width: 100%;
        display: flex;
        font-size: 18px;
    }
    .ecompimg, .automacaoimg, .sonorizacaoimg, .redeimg, .segurancaimg, .informaticaimg{
        width: 100%;
        height: auto;
    }
    .galeriavideos{
        flex-direction: column;
        align-items: center;
    }
    .galeriavideos video{
        max-width: 100%;
    }
}