@charset "UTF8";
body{
    margin:0;
    padding:0;
    border:0;
}
main{
    width: 80%;
    height: auto;
    color: #2b2b2b;
    background-color: #ebebeb;
    border-radius: 10px;
    margin-top: 7em;
}

main ol li{
    font-size: 20px;
}
main ol li a{
    text-decoration: none;
    color: #2b2b2b;
}
@media (max-width: 932px){
    main{
        width: 90%;
    }
}