@charset "UTF8";
body{
    margin:0;
    padding:0;
    border:0;
}
main{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: row;
    color: #213740;
    margin-top: 7.5em;
}
a { 
    color: inherit; 
    text-decoration: none;
}
.esquerda{
    width: 50%;
}
.esquerda img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.direita{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.imgtopo{
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.links{
    background-color: #EBEBEB;
    width: 100%;
  
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.social{
    display: flex;
    flex-direction: row;
}
.icons img{
    height: 4em;
    border-radius: 50%;
}
.icons{
    display: flex;
    flex-direction: column;
}
.texto{
    font-size: 22px;
    display: flex;
    flex-direction: column;
    align-content: center;
}
.ecomptech{
    height: 8em;
}
.imglinha{
    width: 100%;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
@media (max-width: 932px){
    main{
        display: flex;
        flex-direction: column;
        margin-top: 7.5em;
        width: 98%;
    }
    .esquerda, .direita{
        width: 100%;
    }
    .texto{
        font-size: 10px;
    }
    .ecomptech{
        height: 4em;
    } 
    .icons img{
        height: 2em;
    }
}
