@charset "UTF8";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

body{
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding:0;
    border:0;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto';
}
header{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    background-color: #2b2b2b;
    width: 80%;
    height: 7em;
    border-radius: 10px;
    margin-bottom: 5px;
    position: fixed;
    z-index: 99;
}
.dropdown img{
    display: none;
}
.menuimg{
    width: 20%;
    height: auto;
    display: flex;
    justify-content: center;
    overflow: hidden;
}
.menuimg img{
    height: 6.5em;
}
.menu{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    width: 80%;
    height: 7em;
    border-radius: 10px;
}
.menudrop {
    display: block;
    position: relative;
    justify-content: flex-end;
}
.setamenudown{
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin-bottom: 3px;
}
.menubutton{
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    padding:20px;
    margin-top:20px;
    font-size: x-large;
}
.menubutton:hover{
    color: #F27244;
}
.submenudrop{
    display: none;
    position: absolute;
    background-color: #2b2b2b;
    list-style-type: none;
    width: auto;
    height: auto;
    border-radius: 10px;
    margin: auto;
    overflow: hidden;
}
.submenudrop a{
    display: block;
    color: white;
    padding: 20px;
    text-decoration: none;
    background-color: #2b2b2b;
    border-radius: 5px;
    border: 1px;
    border-color: white;
    font-size: large;
    transition: 0.7s all;
    margin-top: 0;
}
.submenudrop a:hover{
    background-color: #F27244;
}
.menudrop:hover .submenudrop{
    display: block;
    border: 1px;
}
.buttonOrcamento{
    background-color: green;
    color: white;
    font-family: 'Roboto';
    border-radius: 50px;
    font-size: 30px;
}
.buttonOrcamento:hover{
    transform: scale(1.1);
}

.wppbutton{
    position: fixed;
    bottom: 10px;
    right: 40px;    
}
.wppbutton a{
    display: block;
}
.wppbutton img{
    border-radius: 50%;
    width: 100px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}
.wppbutton img:hover{
    transform: scale(1.1);
}
.rodape{
    position: relative;
    background-color: #213740;
    color: white;
    width: 100%;
    font-size: 14px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    bottom: 0;
    margin-top: 5px;
}
.rodape a{
    text-decoration: none;
    color: white;
}
.rodape p{
    margin-bottom: 5px;
}
.rodape-div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width:100%;
    margin: auto;
    align-items: start;
    padding: 10px 10px 0px 10px;
}
.rodape-div-1-coluna img{
    width: 10em;
}
.rodape-div-1-coluna{
    display: flex;
    flex-flow: column wrap;
    align-items: start;
}
.rodape-div-1-coluna-mapa{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.rodape-div-1-coluna-mapa img{
    width: 5em;
}
.rodape-div-1, .rodape-div-2, .rodape-div-3, .rodape-div-4, .rodape-div-5{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: calc(100% / 5 - 20px);
}
.rodape-div-2-coluna{
    display: flex;
    flex-direction: row; 
    align-items: center;
}
.rodape-div-2-coluna-img img{
    padding-top: 2px;
    width: 3em;
}
.rodape-div-2-coluna-img{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.rodape-div-2-coluna-text{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    text-decoration: none;
}
.rodape-div-4-coluna-text a{
    width: 100%;
}
.rodape-div-5-coluna{
    padding-bottom: 60px;
}
.rodape span{
    font-size: 25px;
    color: white;
}
.rodape-direitos{
    width: calc(100% - 20px);
    background-color: #213740;
    padding: 10px;
    margin: 0;
    text-align: center;
}
#paginaAtual{
    background-color: #F27244;
    border-radius: 20px;
}
#paginaAtual:hover{
    color: #2b2b2b;
}
img{
    border-radius: 20px;
}
.fade-in {
    opacity: 0; /* Começa invisível */
    transition: opacity 1s ease-in-out; /* Duração e tipo de transição */
  }
  
  .fade-in.active {
    opacity: 1; /* Torna a imagem visível */
  }
/*mobile*/
@media (max-width: 932px){
    body{
        font-size: 18px;
    }
    main{
        margin-top: 7em;
    }
    .rodape-div-1, .rodape-div-2, .rodape-div-3, .rodape-div-4, .rodape-div-5{
        width: calc(50% - 20px);
        height: fit-content;
    }
    .rodape-div-2-coluna-text{
        font-size: 17px;
    }
    header{
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        border-radius: 0;
        z-index: 99;
    }
    .rodape{
        margin-top: 3px;
    }
    .menu{
        width: 50%;
    }
    .menubutton{
        display: none;
    }
    .menuimg{
        display: flex;
        justify-content: flex-end;
        width: 50%;
    }
    .menuimg img{
        padding-right: 50px;
        height: 5em;
    }
    .dropdown img{
        display: block;
        height: 5em;
    }
    .buttonOrcamento{
        font-size: 20px;
    }
    .wppbutton{
        bottom: 40px;
    }
    .wppbutton img{
        width: 70px;
    }
}
