<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../image/index/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/menumobile.css">
    <link rel="stylesheet" href="../css/automacao.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" type="text/css" href="../slick/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="../slick/slick/slick-theme.css"/>
    <title>Ecomp - Informática e Automação</title>
</head>
<body>
    <header>
        <div class="menu">
            <!-----------MENU DO DISPOSITIVO MOBILE-------------------->
            <div class="dropdown">
                <img src="../image/index/menu.png" alt="" onclick="myFunction()" class="dropbtn">
                <div id="myDropdown" class="dropdown-content">
                    <a href="../index.html">Início</a>
                    <a href="automação.html" id="paginaAtual">Automação</a>
                    <a href="sonorização.html">Sonorização</a>
                    <a href="rede.html">Rede Cabeada e WiFi</a>
                     <!--<a href="carregadores.html"><p>Carregadores Automotivos</p></a>-->
                    <a href="segurança.html">Segurança</a>
                    <a href="informatica.html">Informática</a>
                    <a href="sobre.html">Sobre</a>
                    <a href="privacidade.html">Política de Privacidade</a>
                </div>
            </div>
            <!-----------MENU PADRÃO-------------------->
            <a href="../index.html"><button class="menubutton">Página Inicial</button></a>
            <div class="menudrop">
                <button class="menubutton"  id="paginaAtual">Serviços <i class="setamenudown"></i></button>
                <div class="submenudrop">
                    <a href="automação.html"  id="paginaAtual">Automação</a>
                    <a href="sonorização.html">Sonorização</a>
                    <a href="rede.html">Rede Cabeada e WiFi</a>
                     <!--<a href="carregadores.html"><p>Carregadores Automotivos</p></a>-->
                    <a href="segurança.html">Segurança</a>
                </div>
            </div>
            
            <div class="menudrop">
                <button class="menubutton">Contatos <i class="setamenudown"></i></button>
                <div class="submenudrop">
                    <a href="https://api.whatsapp.com/send/?phone=5564992098886" target="_blank" rel="noopener noreferrer">Luiz Henrique</a>
                    <a href="https://api.whatsapp.com/send/?phone=556434957016" target="_blank" rel="noopener noreferrer">Financeiro</a>
                    <a href="https://api.whatsapp.com/send/?phone=5564992273112" target="_blank" rel="noopener noreferrer">Assistência Técnica</a>
                    <a href="https://api.whatsapp.com/send/?phone=556434955420" target="_blank" rel="noopener noreferrer">Vendas e Suporte</a>
                </div>
            </div>
            <a href="sobre.html"><button class="menubutton">Quem Somos</button></a>
            <a href="informatica.html"><button class="menubutton">Informática</button></a>
        </div>
        <div class="menuimg">
            <a href="../index.html"><img src="../image/index/logobranca.png" alt="Ecomp Logo Oficial"></a>
        </div>
    </header>
    <main>
    <div class="head">
        <img src="../image/automacao/ehome.png" alt="" class="imgpc">
        <img src="../image/automacao/ehomemobile.png" alt="" class="imgalternativa">
        <p><strong>Descubra como a automação pode melhorar sua vida em casa. Transforme seu ambiente com iluminação inteligente, mantenha seu conforto térmico em qualquer lugar, proteja sua família com segurança avançada, economize recursos sem abrir mão do conforto. Simplifique sua vida com automação residencial, as casas inteligentes oferecem mais segurança e conforto para idosos, proporcionando independência e qualidade de vida.</strong></p>
    </div>
    <div class="vantagens">
        <div class="vantagensimg">
            <div class="slide2">
                <div><img src="../image/automacao/vantagens.jpg" alt="" loading="lazy" class="fade-in"></div>
                <div><img src="../image/automacao/vantagens1.jpg" alt=""></div>
                <div><img src="../image/automacao/vantagens2.jpg" alt=""></div>
                <div><img src="../image/automacao/vantagens3.jpg" alt=""></div>
            </div>
        </div>
        <div class="vantagenstexto">
            <p>Com a automação de serviços, funcionários e fornecedores conseguem simplificar etapas, processos e práticas diárias nos negócios. Mais produtividade, mais tempo para o cenário em que atua e mais oportunidades para investir em novas estratégias corporativas.</p>
            <h3>Com a EHOME você tem a melhor estrutura de automação para o seu negócio!</h3>
        </div>
    </div>
    <div class="motivo">
        <div class="motivotexto">
            <p>Transforme sua casa em um lar inteligente!</p>
            <p>Com automação, você ganha mais segurança, praticidade no dia a dia e ainda economiza.</p>
            <p>Descubra como a tecnologia pode facilitar sua vida em cada detalhe.</p>
        </div>
        <div class="motivoimg">
            <div class="slide2">
                <div><img src="../image/automacao/motivo.jpg" alt="" loading="lazy" class="fade-in"></div>
                <div><img src="../image/automacao/motivo1.jpg" alt=""></div>
                <div><img src="../image/automacao/motivo2.jpg" alt=""></div>
                <div><img src="../image/automacao/motivo3.jpg" alt=""></div>
            </div>
        </div>
    </div>
    <div class="dicas">
        <div class="dicasimg">
            <div class="slide2">
                <div><img src="../image/automacao/dicas.jpg" alt="" loading="lazy" class="fade-in"></div>
                <div><img src="../image/automacao/dicas1.jpg" alt=""></div>
                <div><img src="../image/automacao/dicas2.jpg" alt=""></div>
                <div><img src="../image/automacao/dicas3.jpg" alt=""></div>
                <div><img src="../image/automacao/dicas4.jpg" alt=""></div>
            </div>
        </div>
        <div class="dicastexto">
            <p>Transforme sua casa com automação e viva o futuro hoje!</p>
            <p>Com a automação, você tem mais conforto, praticidade e segurança na palma da mão. Desde controlar a iluminação até ajustar a temperatura, tudo pode ser feito de forma inteligente e integrada.</p>
            <h3>Chegou a hora de simplificar sua vida!</h3>
        </div>
    </div>
    <div class="dispositivo">
        <div class="dispositivotexto">
            <h3>Com dispositivos de automação residencial, você pode:</h3>
        <ul>
            <li>Controlar luzes, temperatura e segurança pelo smartphone ou assistente virtual.</li>
            <li>Receber alertas em caso de emergências, como quedas ou invasões.</li>
            <li>Programar lembretes para medicamentos e consultas.</li>
            <li>Monitorar a casa em tempo real, garantindo a tranquilidade de todos.</li>
        </ul>
        </div>
        <div class="dispositivoimg">
            <img src="../image/automacao/dispositivo.jpg" alt="" loading="lazy" class="fade-in">
        </div>
    </div>
    <h3>A tecnologia torna o dia a dia mais fácil, permitindo que você aproveite a vida com mais liberdade e segurança.</h3>
    <div class="exemplos">
        <h2>Exemplos Automação</h2>
        <div class="interruptor">
            <div class="interruptorimg">
                <div class="slide2">
                    <div><img src="../image/automacao/interruptor.jpg" alt="" loading="lazy" class="fade-in"></div>
                    <div><img src="../image/automacao/interruptor1.jpg" alt=""></div>
                    <div><img src="../image/automacao/interruptor2.jpg" alt=""></div>
                    <div><img src="../image/automacao/interruptor3.jpg" alt=""></div>
                    <div><img src="../image/automacao/interruptor4.jpg" alt=""></div>
                    <div><img src="../image/automacao/interruptor5.jpg" alt=""></div>
                </div>
            </div>
            <div class="interruptortexto">
                <p> Descubra o futuro da praticidade com um interruptor inteligente! Controle a iluminação da sua casa com um simples toque ou comando de voz. Modernize seu espaço com tecnologia que facilita o seu dia a dia. 🌟</p>           
            </div>
        </div>
        <div class="fechadura">
            <div class="fechaduratexto">
                <p>Ter uma fechadura eletrônica na sua casa ou empresa, vai facilitar bastante sua vida.</p>
                <h3>Separamos 5 vantagens para você adquirir a sua!</h3>
            </div>
            <div class="fechaduraimg">
                <div class="slide2">
                    <div><img src="../image/automacao/fechadura.jpg" alt="" loading="lazy" class="fade-in"></div>
                    <div><img src="../image/automacao/fechadura1.jpg" alt=""></div>
                    <div><img src="../image/automacao/fechadura2.jpg" alt=""></div>
                    <div><img src="../image/automacao/fechadura3.jpg" alt=""></div>
                    <div><img src="../image/automacao/fechadura4.jpg" alt=""></div>
                    <div><img src="../image/automacao/fechadura5.jpg" alt=""></div>
                </div>
            </div>
        </div>
        <div class="irrigacao">
            <div class="irrigacaoimg">
                <img src="../image/automacao/irrigacao.jpg" alt="" loading="lazy" class="fade-in">
            </div>
            <div class="irrigacaotexto">
                <p>Imagine programar os horários ideais para irrigar suas plantas, garantindo que recebam a quantidade exata de água, sem desperdício. Além disso, você pode monitorar tudo pelo celular, ajustando o sistema de onde estiver. Transforme seu jardim com a praticidade da automação e faça parte de um futuro mais sustentável e inteligente!<p></p>
            </div>
        </div>
        <div class="piscina">
            <div class="piscinatexto">
                <p>Já pensou em poder controlar a bomba da sua piscina com apenas um toque, seja de dentro de casa ou de qualquer lugar do mundo. Praticidade que se integra ao seu estilo de vida, garantindo mais tempo para relaxar e admirar a vista. Desfrute do seu espaço externo com eficiência e conveniência. Elevando o lazer e a funcionalidade ao próximo nível com a automação residencial!<p></p>
            </div>
            <div class="piscinaimg">
                <img src="../image/automacao/piscina.png" alt="" loading="lazy" class="fade-in">
            </div>
        </div>
    </div>
    <a href="https://api.whatsapp.com/send/?phone=5564992098886" target="_blank" rel="noopener noreferrer"><button class="buttonOrcamento">Solicite seu Orçamento!</button></a>


    <div class="wppbutton">
        <a href="https://api.whatsapp.com/send/?phone=556434955420"><img src="../image/icons/whatsapp.png" alt="" loading="lazy" class="fade-in"></a>
    </div>
    </main>
   <footer class="rodape" id="contato">
        <div class="rodape-div">
    
            <div class="rodape-div-1">
                <div class="rodape-div-1-coluna">
                    <a href="../index.html"><img src="../image/index/logobranca.png" alt="" loading="lazy" class="fade-in"></a>
                    <div class="rodape-div-1-coluna-mapa">
                        <a href="https://www.google.com/maps/place/Ecomp+inform%C3%A1tica/@-18.0130822,-49.3624866,17z/data=!3m1!4b1!4m6!3m5!1s0x94a0f9812ed7218b:0x5a922b3c13ec77ca!8m2!3d-18.0130822!4d-49.3624866!16s%2Fg%2F11vc4mc4w0?entry=ttu&g_ep=EgoyMDI1MDMxMi4wIKXMDSoASAFQAw%3D%3D" target="_blank" rel="noopener noreferrer"><img src="../image/icons/mapa.png" alt="" class="icons" ></a>
                        <p><a href="https://www.google.com/maps/place/Ecomp+inform%C3%A1tica/@-18.0130822,-49.3624866,17z/data=!3m1!4b1!4m6!3m5!1s0x94a0f9812ed7218b:0x5a922b3c13ec77ca!8m2!3d-18.0130822!4d-49.3624866!16s%2Fg%2F11vc4mc4w0?entry=ttu&g_ep=EgoyMDI1MDMxMi4wIKXMDSoASAFQAw%3D%3D" target="_blank" rel="noopener noreferrer">Av. Pres. Vargas, 935 - Centro, Goiatuba - GO, 75600-000</a></p>
                    </div>   
                </div>
            </div>
            
            <div class="rodape-div-2">
                <div class="rodape-div-2-coluna">
                    <div class="rodape-div-2-coluna-img">
                        <a href="https://api.whatsapp.com/send/?phone=556434955420" target="_blank" rel="noopener noreferrer"><img src="../image/icons/whatsapp.png" alt="WhatsApp" loading="lazy" class="fade-in"></a>
                        <a href="https://www.instagram.com.br/ecompgoiatuba" target="_blank" rel="noopener noreferrer"><img src="../image/icons/instagram.png" alt="Instagram" loading="lazy" class="fade-in"></a>
                    </div>
                    <div class="rodape-div-2-coluna-text">
                        <p><a href="https://api.whatsapp.com/send/?phone=556434955420" target="_blank" rel="noopener noreferrer">(64) 3495 - 5420</a></p>
                        <p><a href="https://www.instagram.com.br/ecompgoiatuba" target="_blank" rel="noopener noreferrer">@ecompgoiatuba</a></p>
                    </div>
                </div>
            </div>

            <div class="rodape-div-3">
                <div class="rodape-div-3-coluna">
    
                    <span><b>Contatos</b></span>
                    <a href="https://api.whatsapp.com/send/?phone=5564992098886" target="_blank" rel="noopener noreferrer"><p>Luiz Henrique (Gestão, Vendas & Projetos)</p></a>
                    <a href="https://api.whatsapp.com/send/?phone=556434957016" target="_blank" rel="noopener noreferrer"><p>Financeiro</p></a>
                    <a href="https://api.whatsapp.com/send/?phone=5564992273112" target="_blank" rel="noopener noreferrer"><p>Assistência Técnica</p></a>
                    <a href="https://api.whatsapp.com/send/?phone=556434955420" target="_blank" rel="noopener noreferrer"><p>Vendas e Suporte</p></a>
                </div>
            </div>
    
            <div class="rodape-div-4">
                <div class="rodape-div-4-coluna">
                    <span><b>Serviços</b></span>
                    <div class="rodape-div-4-coluna-text">
                        <a href="automação.html"><p>Automação</p></a>
                        <a href="sonorização.html"><p>Sonorização</p></a>
                        <a href="rede.html"><p>Rede Cabeada e WiFi</p></a>
                        <!--<a href="carregadores.html"><p>Carregadores Automotivos</p></a>-->
                        <a href="segurança.html"><p>Segurança</p></a>

                    </div>
                    
                </div>
            </div>
    
            <div class="rodape-div-5">
                <div class="rodape-div-5-coluna">
    
                    <span><b>Outros</b></span>
                    <a href="privacidade.html"><p>Políticas de Privacidade</p></a>
                    <a href="sobre.html"><p>Quem Somos</p></a>
                </div>
            </div>
    
        </div>
        <p class="rodape-direitos">Copyright © 2025 – Todos os Direitos Reservados.</p>
    </footer>

    <script type="text/javascript" src="../js/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="../js/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="../slick/slick/slick.min.js"></script>
    <script type="text/javascript" src="../js/slide.js"></script>
    <script type="text/javascript" src="../js/menumobile.js"></script>
    <script type="text/javascript" src="../js/fade-in-img.js"></script>

</body>
</html>