<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/privacidade.css">
    <link rel="shortcut icon" href="../image/index/favicon.png" type="image/x-icon">
    <title>Ecomp - Informática e Automação</title>
</head>
<body>
    <header>
        <div class="menu">
            <a href="../index.html"><button class="menubutton">Página Inicial</button></a>
            <a href="automação.html"><button class="menubutton">Automação</button></a>
            <div class="menucontact">
                <button class="menubutton">Contatos <i class="setamenudown"></i></button>
                <div class="submenucontact">
                    <a href="https://api.whatsapp.com/send/?phone=5564992491652">Vinícius</a>
                    <a href="https://api.whatsapp.com/send/?phone=5564984101049">Laura</a>
                    <a href="https://api.whatsapp.com/send/?phone=5564981161116">Yuri</a>
                </div>
            </div>
            <a href="sobre.html"><button class="menubutton">Sobre</button></a>
        </div>
        <div class="menuimg">
            <a href="../index.html"><img src="../image/index/logobranca.png" alt="Ecomp Logo Oficial"></a>
        </div>
    </header>
    <main>
        <div>
            <h1>Política de Privacidade da ECOMP</h1>
            <h3>Última atualização: <span id="currentDate"></span></h3>
            <script> 
                // Get the current date 
                const today = new Date(); 
                // Format the date as needed (e.g., MM/DD/YYYY) 
                const formattedDate = today.toLocaleDateString(); 
                // Display the date in the HTML 
                document.getElementById("currentDate").textContent = formattedDate; 
            </script>
        </div>
        <h2>A ECOMP valoriza a sua privacidade e está comprometida em proteger suas informações pessoais. Esta Política de Privacidade descreve como coletamos, usamos, armazenamos e protegemos suas informações quando você visita nosso site.</h2>
        <ol>
            <li>Informações que Coletamos
                <p>Quando você visita nosso site, podemos coletar as seguintes informações:</p>
                <ul>
                    <li>Informações de contato, como nome, e-mail e telefone, quando você preenche formulários de contato.</li>
                    <li>Dados de navegação, como endereço IP, tipo de navegador e páginas visitadas, para melhorar a experiência do usuário.</li>
                </ul>
            </li>
            <br>
            <li>Como Usamos suas Informações
                <p>As informações coletadas podem ser utilizadas para:</p>
                <ul>
                    <li>Responder a consultas e fornecer suporte.</li>
                    <li>Enviar informações sobre nossos serviços e atualizações.</li>
                    <li>Melhorar nosso site e personalizar a experiência do usuário.</li>
                </ul>
            </li>
            <br>
            <li>Compartilhamento de Informações
                <p>A ECOMP não vende, troca ou transfere suas informações pessoais para terceiros sem o seu consentimento, exceto quando necessário para cumprir a lei ou proteger nossos direitos.</p>
            </li>
            <li>Segurança das Informações
                <p>Implementamos medidas de segurança para proteger suas informações pessoais. No entanto, lembre-se de que nenhum método de transmissão pela Internet ou método de armazenamento eletrônico é 100% seguro.</p>
            </li>
            <li>Seus Direitos
                <p>Você tem o direito de acessar, corrigir ou excluir suas informações pessoais. Para exercer esses direitos, entre em contato conosco através do e-mail [<a href="mailto:gerenciaecomp@gmail.com?subject=Alteração de Dados">ECOMP</a>].</p>
            </li>
            <li>Alterações a Esta Política
                <p>Podemos atualizar esta Política de Privacidade periodicamente. Recomendamos que você revise esta página regularmente para se manter informado sobre como estamos protegendo suas informações.</p>
            </li>
            <li>Contato
                <p>Se você tiver alguma dúvida sobre esta Política de Privacidade, entre em contato conosco:</p>
                <dt>ECOMP</dt>
                <dt><a href="https://www.google.com/maps/place/Ecomp+inform%C3%A1tica/@-18.0130822,-49.3624866,17z/data=!3m1!4b1!4m6!3m5!1s0x94a0f9812ed7218b:0x5a922b3c13ec77ca!8m2!3d-18.0130822!4d-49.3624866!16s%2Fg%2F11vc4mc4w0?entry=ttu&g_ep=EgoyMDI1MDMxMi4wIKXMDSoASAFQAw%3D%3D">Av. Pres. Vargas, 935 - Centro, Goiatuba - GO, 75600-000</a></dt>
                <dt><a href="https://api.whatsapp.com/send/?phone=556434955420">(64) 3495 - 5420</a></dt>
                <dt><a href="mailto:gerenciaecomp@gmail.com?subject=Política de Privacidade">Email</a></dt>
            </li>
        </ol>
    </main>
    <footer class="rodape" id="contato">
        <div class="rodape-div">
    
            <div class="rodape-div-1">
                <div class="rodape-div-1-coluna">
                    <a href="../index.html"><img src="../image/index/logobranca.png" alt=""></a>
                    <div class="rodape-div-1-coluna-mapa">
                        <a href="https://www.google.com/maps/place/Ecomp+inform%C3%A1tica/@-18.0130822,-49.3624866,17z/data=!3m1!4b1!4m6!3m5!1s0x94a0f9812ed7218b:0x5a922b3c13ec77ca!8m2!3d-18.0130822!4d-49.3624866!16s%2Fg%2F11vc4mc4w0?entry=ttu&g_ep=EgoyMDI1MDMxMi4wIKXMDSoASAFQAw%3D%3D"><img src="../image/icons/mapa.png" alt="" class="icons"></a>
                        <p><a href="https://www.google.com/maps/place/Ecomp+inform%C3%A1tica/@-18.0130822,-49.3624866,17z/data=!3m1!4b1!4m6!3m5!1s0x94a0f9812ed7218b:0x5a922b3c13ec77ca!8m2!3d-18.0130822!4d-49.3624866!16s%2Fg%2F11vc4mc4w0?entry=ttu&g_ep=EgoyMDI1MDMxMi4wIKXMDSoASAFQAw%3D%3D">Av. Pres. Vargas, 935 - Centro, Goiatuba - GO, 75600-000</a></p>
                    </div>   
                </div>
            </div>
            
            <div class="rodape-div-2">
                <div class="rodape-div-2-coluna">
                    <div class="rodape-div-2-coluna-img">
                        <a href="https://api.whatsapp.com/send/?phone=556434955420"><img src="../image/icons/whatsapp.png" alt="WhatsApp"></a>
                        <a href="https://www.instagram.com.br/ecompgoiatuba"><img src="../image/icons/instagram.png" alt="Instagram"></a>
                    </div>
                    <div class="rodape-div-2-coluna-text">
                        <p><a href="https://api.whatsapp.com/send/?phone=556434955420">(64) 3495 - 5420</a></p>
                        <p><a href="https://www.instagram.com.br/ecompgoiatuba">@ecompgoiatuba</a></p>
                    </div>
                </div>
            </div>

            <div class="rodape-div-3">
                <div class="rodape-div-3-coluna">
    
                    <span><b>Contatos</b></span>
                    <a href="https://api.whatsapp.com/send/?phone=5564992491652"><p>Vinícius</p></a>
                    <a href="https://api.whatsapp.com/send/?phone=5564981161116"><p>Yuri</p></a>
                    <a href="https://api.whatsapp.com/send/?phone=5564984101049"><p>Laura</p></a>
                </div>
            </div>
    
            <div class="rodape-div-4">
                <div class="rodape-div-4-coluna">
    
                    <span><b>Links</b></span>
                    <p><a href="automação.html">Automação</a></p>
                    <p><a href="empresa.html">Empresa</a></p>
                    <p><a href="sobre.html">Sobre</a></p>
                </div>
            </div>
    
            <div class="rodape-div-5">
                <div class="rodape-div-5-coluna">
    
                    <span><b>Outros</b></span>
                    <a href="privacidade.html"><p>Políticas de Privacidade</p></a>
                </div>
            </div>
    
        </div>
        <p class="rodape-direitos">Copyright © 2025 – Todos os Direitos Reservados.</p>
    </footer>
</body>
</html>