<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/menumobile.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/sonorizacao.css">
    <link rel="stylesheet" type="text/css" href="../slick/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="../slick/slick/slick-theme.css"/>
    <link rel="shortcut icon" href="../image/index/favicon.png" type="image/x-icon">
    <title>Ecomp - Informática e Automação</title>
</head>
<body>
    <header>
        <div class="menu">
            <!-----------MENU DO DISPOSITIVO MOBILE-------------------->
            <div class="dropdown">
                <img src="../image/index/menu.png" alt="" onclick="myFunction()" class="dropbtn">
                <div id="myDropdown" class="dropdown-content">
                    <a href="../index.html">Início</a>
                    <a href="automação.html">Automação</a>
                    <a href="sonorização.html" id="paginaAtual">Sonorização</a>
                    <a href="rede.html">Rede Cabeada e WiFi</a>
                     <!--<a href="carregadores.html"><p>Carregadores Automotivos</p></a>-->
                    <a href="segurança.html">Segurança</a>
                    <a href="sobre.html">Sobre</a>
                    <a href="privacidade.html">Política de Privacidade</a>
                </div>
            </div>
            <!-----------MENU PADRÃO-------------------->
            <a href="../index.html"><button class="menubutton">Página Inicial</button></a>
            <div class="menudrop">
                <button class="menubutton" id="paginaAtual">Serviços <i class="setamenudown"></i></button>
                <div class="submenudrop">
                    <a href="automação.html">Automação</a>
                    <a href="sonorização.html" id="paginaAtual">Sonorização</a>
                    <a href="rede.html">Rede Cabeada e WiFi</a>
                     <!--<a href="carregadores.html"><p>Carregadores Automotivos</p></a>-->
                    <a href="segurança.html">Segurança</a>
                </div>
            </div>
            
            <div class="menudrop">
                <button class="menubutton">Contatos <i class="setamenudown"></i></button>
                <div class="submenudrop">
                    <a href="https://api.whatsapp.com/send/?phone=5564992098886" target="_blank" rel="noopener noreferrer">Luiz Henrique</a>
                    <a href="https://api.whatsapp.com/send/?phone=556434957016" target="_blank" rel="noopener noreferrer">Financeiro</a>
                    <a href="https://api.whatsapp.com/send/?phone=5564992273112" target="_blank" rel="noopener noreferrer">Assistência Técnica</a>
                    <a href="https://api.whatsapp.com/send/?phone=556434955420" target="_blank" rel="noopener noreferrer">Vendas e Suporte</a>
                </div>
            </div>
            <a href="sobre.html"><button class="menubutton">Quem Somos</button></a>
            <a href="../index.html"><button class="menubutton">Informática</button></a>
        </div>
        <div class="menuimg">
            <a href="../index.html"><img src="../image/index/logobranca.png" alt="Ecomp Logo Oficial"></a>
        </div>
    </header>
    <main>
        <div class="header">
            <div class="headerimg">
                <img src="../image/sonorizacao/iconav.png" alt="">
            </div>
            <div class="headertext">
                <h1>Áudio e Video</h1>
                <p>Sistemas de Home Theater, do simples ao mais complexo, para ambientes de diversos tamanhos e estilos.</p>
                <p> Trabalhamos com Televisores, Projetores, Telas de Tecido e Vidro e também com Painel Movie, em que a televisão fica oculta por um painel de espelho. Os Projetos são possíveis em todos os ambientes, de acordo com a necessidade do cliente, residencial ou corporativo.</p>
            </div>
        </div>  
        <div class="slide2">
            <div><img src="../image/sonorizacao/av.jpg" alt=""></div>
            <div><img src="../image/sonorizacao/av1.jpg" alt=""></div>
            <div><img src="../image/sonorizacao/av2.jpg" alt=""></div>
            <div><img src="../image/sonorizacao/av3.jpg" alt=""></div>
            <div><img src="../image/sonorizacao/av4.jpg" alt=""></div>
            <div><img src="../image/sonorizacao/av5.jpg" alt=""></div>
            <div><img src="../image/sonorizacao/av6.jpg" alt=""></div>
            <div><img src="../image/sonorizacao/av7.png" alt=""></div>
            <div><img src="../image/sonorizacao/av8.jpeg" alt=""></div>
            <div><img src="../image/sonorizacao/av9.jpg" alt=""></div>
            <div><img src="../image/sonorizacao/av10.jpeg" alt=""></div>
        </div>
        <p>Contamos também experiência em Salas de Reunião, Conferência e Auditórios. Cuidamos de toda a parte Audiovisual e de Iluminação, trazendo ainda a possibilidade do uso de Automação.</p>
        <div class="slide2">
            <div><img src="../image/sonorizacao/av5.jpg" alt=""></div>
            <div><img src="../image/sonorizacao/av6.jpg" alt=""></div>
            <div><img src="../image/sonorizacao/av7.png" alt=""></div>
        </div>
        <p>E quanto à sua área de lazer ou, ambientes externos? Que tal uma "arena de lazer" com aquela pitada de design e qualidade? Aqui na Ehome nós projetamos todo um sistema de acordo com o projeto de seu espaço, afim de montar um sistema agradável e com os melhores equipamentos do mercado. Seja um projeto Discreto ou um projeto Entusiasta, estamos aqui para personalizar sua experiência!</p>
        <div class="slide2">
            <div><img src="../image/sonorizacao/imgSound1.jpg" alt=""></div>
            <div><img src="../image/sonorizacao/imgSound2.jpg" alt=""></div>
            <div><img src="../image/sonorizacao/imgSound3.jpg" alt=""></div>
        </div>
        <p>Conheça nosso Showroom completo e sinta o prazer de um ambiente cuidadosamente sonorizado, sempre na busca por qualidade, e satisfação de cada momento, seja no lazer ou trabalho.</p>
        <a href="https://api.whatsapp.com/send/?phone=5564992098886" target="_blank" rel="noopener noreferrer"><button class="buttonOrcamento">Solicite seu Orçamento!</button></a>
    </main>
    <footer class="rodape" id="contato">
        <div class="rodape-div">
            <div class="rodape-div-1">
                <div class="rodape-div-1-coluna">
                    <a href="../index.html"><img src="../image/index/logobranca.png" alt=""></a>
                    <div class="rodape-div-1-coluna-mapa">
                        <a href="https://www.google.com/maps/place/Ecomp+inform%C3%A1tica/@-18.0130822,-49.3624866,17z/data=!3m1!4b1!4m6!3m5!1s0x94a0f9812ed7218b:0x5a922b3c13ec77ca!8m2!3d-18.0130822!4d-49.3624866!16s%2Fg%2F11vc4mc4w0?entry=ttu&g_ep=EgoyMDI1MDMxMi4wIKXMDSoASAFQAw%3D%3D" target="_blank" rel="noopener noreferrer"><img src="../image/icons/mapa.png" alt="" class="icons"></a>
                        <p><a href="https://www.google.com/maps/place/Ecomp+inform%C3%A1tica/@-18.0130822,-49.3624866,17z/data=!3m1!4b1!4m6!3m5!1s0x94a0f9812ed7218b:0x5a922b3c13ec77ca!8m2!3d-18.0130822!4d-49.3624866!16s%2Fg%2F11vc4mc4w0?entry=ttu&g_ep=EgoyMDI1MDMxMi4wIKXMDSoASAFQAw%3D%3D" target="_blank" rel="noopener noreferrer">Av. Pres. Vargas, 935 - Centro, Goiatuba - GO, 75600-000</a></p>
                    </div>   
                </div>
            </div>
            
            <div class="rodape-div-2">
                <div class="rodape-div-2-coluna">
                    <div class="rodape-div-2-coluna-img">
                        <a href="https://api.whatsapp.com/send/?phone=556434955420" target="_blank" rel="noopener noreferrer"><img src="../image/icons/whatsapp.png" alt="WhatsApp"></a>
                        <a href="https://www.instagram.com.br/ecompgoiatuba" target="_blank" rel="noopener noreferrer"><img src="../image/icons/instagram.png" alt="Instagram"></a>
                    </div>
                    <div class="rodape-div-2-coluna-text">
                        <p><a href="https://api.whatsapp.com/send/?phone=556434955420" target="_blank" rel="noopener noreferrer">(64) 3495 - 5420</a></p>
                        <p><a href="https://www.instagram.com.br/ecompgoiatuba" target="_blank" rel="noopener noreferrer">@ecompgoiatuba</a></p>
                    </div>
                </div>
            </div>

            <div class="rodape-div-3">
                <div class="rodape-div-3-coluna">
    
                    <span><b>Contatos</b></span>
                    <a href="https://api.whatsapp.com/send/?phone=5564992098886" target="_blank" rel="noopener noreferrer"><p>Luiz Henrique (Gestão, Vendas & Projetos)</p></a>
                    <a href="https://api.whatsapp.com/send/?phone=556434957016" target="_blank" rel="noopener noreferrer"><p>Financeiro</p></a>
                    <a href="https://api.whatsapp.com/send/?phone=5564992273112" target="_blank" rel="noopener noreferrer"><p>Assistência Técnica</p></a>
                    <a href="https://api.whatsapp.com/send/?phone=556434955420" target="_blank" rel="noopener noreferrer"><p>Vendas e Suporte</p></a>
                </div>
            </div>
    
            <div class="rodape-div-4">
                <div class="rodape-div-4-coluna">
                    <span><b>Serviços</b></span>
                    <div class="rodape-div-4-coluna-text">
                        <a href="automação.html"><p>Automação</p></a>
                        <a href="sonorização.html"><p>Sonorização</p></a>
                        <a href="rede.html"><p>Rede Cabeada e WiFi</p></a>
                         <!--<a href="carregadores.html"><p>Carregadores Automotivos</p></a>-->
                        <a href="segurança.html"><p>Segurança</p></a>
                    </div>
                    
                </div>
            </div>
    
            <div class="rodape-div-5">
                <div class="rodape-div-5-coluna">
    
                    <span><b>Outros</b></span>
                    <a href="privacidade.html"><p>Políticas de Privacidade</p></a>
                    <a href="sobre.html"><p>Quem Somos</p></a>
                </div>
            </div>
    
        </div>
        <p class="rodape-direitos">Copyright © 2025 – Todos os Direitos Reservados.</p>
    </footer>
    <script type="text/javascript" src="../js/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="../js/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="../slick/slick/slick.min.js"></script>
    <script type="text/javascript" src="../js/slide.js"></script>
    <script type="text/javascript" src="../js/menumobile.js"></script>
</body>
</html>